

.App {
  padding-left: 20%;
  padding-top: 6%;
  padding-bottom: 10%;
  text-align: left;
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f5f7 74%);
  
}
.navbar {
  /* background-color: #5ca0f2; */
  color: rgb(99, 138, 255);
  width: auto;
  height: 5%;
  font-size: 1.1rem;
  text-decoration: none; /* Remove underline */
}
.portfolio {
  color: rgb(99, 138, 255);
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.663);
  width: fit-content;
}
.Music-Depo{
  font-size:bold ;
}

.content {
  display: flex;
  align-items: center;
  gap: 4%;
}


.Headshot {
 
  margin-top: 7%;
  border-radius: 0%;  
  width: 9.2rem;
  margin-left: 14%;
  box-shadow: 5px 5px 5px 5px rgba(3, 95, 255, 0.628); 
  border-radius: 20%;
  animation: flameGlow 2.5s ease-in-out infinite alternate;
}


.projects {
  width: 27rem;
  border-radius: 5%;
  margin-right: 3%;
  box-shadow: 10px 5px 5px rgba(103, 103, 103, 0.663);
  animation: flameGlow 2.5s ease-in-out infinite alternate;
}
.toplink{
  color: rgb(99, 138, 255);
  text-decoration: none; 
}
.toplink:hover {
  color: rgb(13, 48, 155);
  transition: color 1ms;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gear-emoji {
  content: "⚙️";
  display: inline-block;
  animation: rotate 5s linear infinite;
  
   
}

h2 {
  align-self: flex-start;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

h3 {
  align-self: flex-start;
  font-size: 1rem;
  color: rgb(4, 0, 119);
  width: 20rem;
}

a {
  font-size: 1.3rem; 
  color: rgb(255, 255, 255);
  text-decoration: none; 
}

a:hover {
  color: rgb(13, 48, 155);
  transition: color 1ms;
}


table {
  margin-top: 10%;
  border-collapse: collapse;
  width: 80%;
  font-size: large;
  animation: flameGlow 2.5s ease-in-out infinite alternate;
  background: #f5f7f6;
  
}

@keyframes flameGlow {
  0% {
    box-shadow: 0 0 10px #5ca0f2;
  }
  50% {
    box-shadow: 0 0 30px #ffffff;
  }
  100% {
    box-shadow: 0 0 30px #5ca0f2;
  }
}


th, td {
  padding: 0.55em;
  border: 0.8px solid #ddd;
  font-size: .6rem;
  font-weight: bold;
}

th {
  background-color: #ededede6;
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
}

.form {
  width: 300px;
  height: 430px;
  box-shadow: 0 0 10px 0 #00000068;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.inputfield {
  margin-left: 17px;
  margin-top: 5px;
  height: 20px;
  width: 250px;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0);
  border :0px;
  border-bottom: 2px solid #828282
}

.text-field {
  margin-left: 17px;
  margin-top: 5px;
  height: 200px;
  width: 250px;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0);
  
  border :1px ;
  border-bottom: 2px solid #828282
}

.form-button {
  margin-left: 17px;
  background-color: rgb(83, 158, 255);
  margin-top: 5px;
  height: 50px;
  width: 170px;
  padding: 7px;
  border-radius: 10px;
  border :1px;
  
}
.form-button:hover{
  background-color: rgba(22, 73, 162, 0.525);
  
}



@media all and (max-width:500px){
  .App {
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
    background-color: #5ca0f2;
    background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
    background-size: full-width;
  }
  .navbar {
    /* background-color: #5ca0f2; */
    color: rgb(99, 180, 255);
    width: auto;
    height: 5%;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
  }
  .portfolio {
    color: rgb(99, 138, 255);
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.663);
    width: fit-content;
  }
  .Music-Depo{
    font-size:bold ;
  }
  
  .content {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    gap: 4%;
  }

    
  .Headshot { 
    width: 100px;
    margin-left: 60%;
    margin-bottom: 0%;
    box-shadow: 5px 5px 5px 5px rgba(3, 95, 255, 0.628); 
    border-radius: 20%;
    animation: flameGlow 2.5s ease-in-out infinite alternate;
  }

  .content .Headshot {
    flex-direction: flex; /* Reset the margin-top value */
    margin-top: 0;
  }
  
  
  .projects {
    width: 260px;
    border-radius: 5%;
    margin-right: 3%;
    margin-bottom: 3%;
    box-shadow: 10px 5px 5px rgba(103, 103, 103, 0.663);
    animation: flameGlow 2.5s ease-in-out infinite alternate;
  }
  .toplink{
    color: rgb(99, 138, 255);
    text-decoration: none; 
  }
  .toplink:hover {
    color: rgb(13, 48, 155);
    transition: color 1ms;
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .gear-emoji {
    content: "⚙️";
    display: inline-block;
    animation: rotate 5s linear infinite;
  }

  h2 {
    align-self: flex-start;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    margin-bottom: 30px;
  }
  
  h3 {
    align-self: flex-start;
    margin-top: 3%; 
    font-size: 12px;
    color: rgb(4, 0, 119);
    width: 200px;
  }
  
  a {
    font-size: 14px; 
    color: rgb(255, 255, 255);
    text-decoration: none; 
    
  }
  
  a:hover {
    color: rgb(13, 48, 155);
    transition: color 1ms;
  }
  
  
  table {
    margin-top: 10%;
    border-collapse: collapse;
    width: 95%;
    font-size: large;
    box-shadow: 2px 2px 2px 2px rgba(3, 95, 255, 0.628);
    animation: flameGlow 2.5s ease-in-out infinite alternate;
  }
  @keyframes flameGlow {
    0% {
      box-shadow: 0 0 10px #5ca0f2;
    }
    50% {
      box-shadow: 0 0 30px #ffffff;
    }
    100% {
      box-shadow: 0 0 30px #5ca0f2;
    }
  }
  
  th, td {
    
    border: 0.8px solid #ddd;
    font-size: 10px;
    font-weight: bold;
  }
  
  th {
    background-color: #ededede6;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
  }

}